{-|
Module      : MODULE_NAME
Description : SHORT_DESC
Copyright   : (c) {{ year }} {{ author }}
License     : GNU GPL v.3
Maintainer  : {{ email }}
Stability   : experimental
Portability : POSIX

LONG_DESC
-}