{-|
Module      : {{ "<MODULE_NAME>" }}
Description : {{ "<DESCRIPTION>" }}
Copyright   : {{ authorCopyright }}
License     : BSD-3
Maintainer  : {{ authorEmail }}
Stability   : experimental
Portability : POSIX

 {{ "<LONGER_DESCRIPTION>" }}
-}