{-|
Module      : {{ _haskell_module_name }}
Description : SHORT_DESC
Copyright   : (c) {{ year }} {{ author }}
License     : {{ license }}
Maintainer  : {{ email }}
Stability   : experimental
Portability : POSIX

LONG_DESC
-}