{-|
Module      : MODULE_NAME
Description : SHORT_DESC
Copyright   : (c) {{ year }} {{ author }}
License     : MPL 2.0
Maintainer  : {{ email }}
Stability   : experimental
Portability : POSIX

LONG_DESC
-}