{-|
Module      : {{ _haskell_module_name }}
Description : {{ _haskell_module_shortdesc }}
Copyright   : (c) {{ year }} {{ author }}
License     : MPL 2.0
Maintainer  : {{ email }}
Stability   : experimental
Portability : POSIX

{{{ _haskell_module_longdesc }}}
-}